@import "tailwindcss";
#cardTrack {
  animation: moveLeft 35s linear infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-200% - 6rem));
  }
}